@"
node_modules/
.env
dist/
.DS_Store
"@ | Set-Content -Encoding utf8 .gitignore

@"
node_modules/
dist/
.env
"@ | Set-Content -Encoding utf8 client\.gitignore

@"
node_modules/
.env
"@ | Set-Content -Encoding utf8 server\.gitignore